extends ../layouts/default

block title
	title Andr&eacute; Kn&ouml;rig &mdash; Bio

block intro
	.container
		h1 Bio

block content
	.container: .row
		.col-sm-2.col-md-3
			div.hidden-xs.sidenav-container
				ul.nav.sidenav(data-spy="affix" data-offset-top="100" data-offset-bottom="100")
					li
						a(href="#work-experience") Work Experience
					li
						a(href="#education") Education
					li
						a(href="#publications") Publications
					li
						a(href="#skills") Skills
					li
						a(href="#memberships") Memberships
					// Press, Patents

		.col-sm-8.col-sm-offset-1.col-md-8.col-md-offset-0.col-lg7
			article
				img(src="/images/portrait.png").img-key.img-responsive

				p.lead I'm an interaction designer and technologist passionate about innovation.
					| After earning degrees in computer science and design, 
					| I managed the design consultancy <a href="http://ixds.com" target="_blank">IXDS</a>,
					| co-founded and led the open-source project <a href="http://fritzing.org" target="blank">Fritzing</a>,
					| and participated in many <a href="works/research">research projects</a>.
					| <br/>I am eager to apply my broad background to your challenges.
					br
					br

				section
					h2(id="work-experience") Work Experience

					h4 
						a(href="http://andreknoerig.de" target="_blank") Humanizing Technology
					p
						strong Independent Consultant and Instructor
						br
						| 1999-
					p: em Consulting on UX design &amp; technology innovations for clients like 
						a(href="http://volkswagen.de" target="_blank") Volkswagen
						| , 
						a(href="http://audi.de" target="_blank") AUDI
						| , 
						a(href="http://www.truck.man.eu/" target="_blank") MAN
						| , 
						a(href="http://telekom.de" target="_blank") Deutsche Telekom
						| , 
						| in collaboration with studios like 
						a(href="http://pch-innovations.com" target="_blank") PCH Innovations 
						| and 
						a(href="http://strichpunkt-design.de" target="_blank") strichpunkt design
						| . 
					p: em Teaching classes and workshops, as well as mentoring (see &rarr; 
						a(href="/activities") Activities
						| ).

					h4 
						a(href="http://www.ixds.com" target="_blank") IXDS
					p
						strong Design &amp; Engineering Lead
						br
						| 2012-14
					p
						strong Managing Director
						br
						| 2009-12
					p: em Built up the company and consulted for 
						| innovation arms of large corporations like 
						a(href="http://volkswagen.de" target="_blank") Volkswagen
						| , 
						a(href="http://telekom.de" target="_blank") Deutsche Telekom
						| , 
						a(href="http://here.com" target="_blank") Nokia Here
						| , 
						a(href="http://deutschebahn.de" target="_blank") Deutsche Bahn
						| , 
						a(href="http://siemens.de" target="_blank") Siemens
						|  and agile start-ups like 
						a(href="http://soundian.com" target="_blank") Soundian
						|  and 
						a(href="http://yetu.com" target="_blank") yetu
						| .

					h4 
						a(href="http://fritzing.org" target="_blank") Fritzing
					p
						strong Project Lead
						br
						| 2007-
					p: em Co-founded and led the project from research to widely adopted tool, 
						| with a worldwide community of over 200,000 users.

					h4 
						a(href="http://www.fh-potsdam.de" target="_blank") FH Potsdam
					p
						strong Research Associate
						br
						| 2006-12
					p: em Led teams in several independent research projects at the 
						a(href="http://idl.fh-potsdam.de" target="_blank") Interaction Design Lab 
						| with Prof. Reto Wettach

					h4 
						a(href="http://www.gold.ac.uk/" target="_blank") Goldsmiths College London
					p
						strong Research Associate
						br
						| 2010-11
					p: em Collaborated on design-led research project at 
						a(href="http://www.gold.ac.uk/interaction/" target="_blank") Interaction Research Studio 
						| with Prof. William Gaver

					h4
						a(href="http://www.uni-weimar.de/" target="_blank") Bauhaus-University Weimar
					p
						strong Research Associate
						br
						| 2008
					p: em Collaborated on Fritzing development and teaching at the
						a(href="http://www.uni-weimar.de/de/medien/professuren/interface-design/" target="_blank") Interface Design group
						| of Prof. Jens Geelhaar


				section
					h2(id="education") Education
					
					h4 M.A. Interaction Design
					p
						a(href="http://design.fh-potsdam.de" target="_blank") FH Potsdam
						br
						| 2006-08

					h4 Diplom-Medieninformatiker (FH)
					p
						a(href="http://www.fh-wedel.de" target="_blank") FH Wedel
						br
						| 2001-06

					p &nbsp;

					p
						a(href="http://iad.zhdk.ch/" target="_blank") University of the Arts, Zürich
						br 
						| Guest semester at Interaction Design Department, DAAD stipend
						br
						| WS 2004

					p
						a(href="http://ic.ac.uk/" target="_blank") Imperial College, London
						br 
						| Guest semester Mathematics &amp; Computer Science
						br
						| WS 2000

					p
						a(href="http://www.berlin.bard.edu/" target="_blank") European College of Liberal Arts, Berlin
						br 
						| Philosophy &amp; Literature Summer School
						br
						| 2000


				section
					h2(id="publications") Publications

					p
						a(target="_blank" href="http://archive.andreknoerig.de/research/wci12/wci12_meier.pdf") Meier, S., et al. A Real-world Mobile Prototyping Framework for Location- and Context-based Services.
						br
						| In Proceedings of WCI – Wireless Communication and Information: Mobile Society, 2012. Berlin, Germany.

					p
						a(target="_blank" href="https://drive.google.com/open?id=0BzOlY4owLH_XRjJ3ZHVTS3RsYlk&authuser=0") Knörig, A.: Home Sensor Network - A domestic investigation toolkit
						br
						| In ESPRC Research Reports, Goldsmiths College, London 2012.

					p
						a(target="_blank" href="http://opendesignnow.org/index.php/case/fritzing-andre-knorig-jonathan-cohen-reto-wettach/") Knörig, A.: Fritzing - A common language to exchange ideas
						br
						| In Open Design Now. 221. Amsterdam 2011, BIS Publishers.

					p
						a(target="_blank" href="http://portal.acm.org/citation.cfm?id=1709970") Knörig, A., Howell, B. Studio: Advanced Prototyping with Fritzing.
						br
						| In Proceedings of Tangible, Embodied and Embedded Interfaces 2010. Cambridge, Mass. 341-343.
 
					p
						a(target="_blank" href="http://portal.acm.org/citation.cfm?id=1517664.1517735") Knörig, A., Wettach, R., Cohen, J. Fritzing – A tool for advancing electronic prototyping for designers.
						br
						| In Proceedings of Tangible and Embedded Interfaces 2009. Cambridge, UK. 351-358.
 
					p
						a(target="_blank" href="http://portal.acm.org/citation.cfm?id=1517664.1517722") Hemmert, F., Knörig, A., Wettach, R., Joost, G. Stick, Click‘n Call: Self-adhesive Pressure-Activated RFID Tags for Mobile Phones.
						br
						| In Proceedings of Tangible and Embedded Interfaces 2009. Cambridge, UK. 283-284.
 
					p
						a(target="_blank" href="https://drive.google.com/open?id=0BzOlY4owLH_XREFPMHV2Ty04aWc&authuser=0") Knörig, A. 2008. Design Tools Design: How to design tools for designers, and a proposal of two new tools for the design of physical interactions.
						br
						| Master Thesis, Univ. of Applied Sciences Potsdam.
 
					p
						a(target="_blank" href="http://portal.acm.org/citation.cfm?id=1358628.1358675") Hemmert, F., Knörig, A., Wettach, R., Joost, G. Dynamic Knobs: Shape Change as a Means of Interaction on a Mobile Phone.
						br
						| In Proceedings of ACM SIGCHI 2008 Conference on Human Factors in Computing Systems. Florence, Italy.CHI '08. 2309-2314.
 
					p
						a(target="_blank" href="http://portal.acm.org/citation.cfm?id=1254960.1255023") Knörig, A. 2007. The bodily aspect in computer-supported creativity.
						br
						| In Proceedings of the 6th ACM SIGCHI Conference on Creativity & Cognition. Washington, DC, USA. C&C '07. ACM Press, New York, NY, 287. 
 
					p
						a(target="_blank" href="https://drive.google.com/open?id=0BzOlY4owLH_Xa1g4NFk1Y3lpdlE&authuser=0") Knörig, A.: Neoanalog - Leiblichkeit und Kreativität. 
						br
						| In acar2: from artefact to actefact. Catalogue of Ars Electronica 2007 Campus, 212-214. Basel 2007, Verlag HyperWerk HGK FHNW.

					p
						a(target="_blank" href="http://portal.acm.org/citation.cfm?id=1279740.1279826") Knörig, A., Müller, B., Wettach, R. 2007. Articulated Paint: Musical Expression for Non-Musicians.
						br
						| In Proceedings of the Conference on New Interfaces for Musical Expression. New York, NY, USA. NIME '07. 384-385.
 
					p
						a(target="_blank" href="https://drive.google.com/open?id=0BzOlY4owLH_XbVJDdFBvWGtkZnM&authuser=0") Knörig, A. 2006. Free the body and the mind will follow: An investigation into the role of the human body in creativity, and its application to HCI.
						br
						| Diploma Thesis, Univ. of Applied Sciences Wedel.


				section
					h2(id="skills") Skills

					h5 Project Direction
					p Team leadership, client management, product definition, customer involvement, 
						| agile project management, design critiques, business validation
					h5 Physical Computing
					p Microcontrollers (Arduino, Raspberry Pi, mbed, Teensy),
						| Internet of Things (spark.io, relayr, pinocc.io), 
						| pcb layout (Fritzing, Eagle), 
						| sensors, actuators, wireless, bus systems
					h5 Generative Desgin
					p Procedural systems (Processing, openFrameworks, cinder), 
						| graphical languages (PureData, vvvv, Max/MSP, NI Reaktor), 
						| generative systems, 3D, audio synthesis, CAD, animation, games
					h5 Design Methods
					p Co-creation, cultural probes, brainstorming, bodystorming, observation, immersion, cluster & frameworks, 
						| personas & archetypes, card sorting, Wizard-of-Oz-prototyping, workshop facilitation, paper prototyping,
						| storyboards, etc.
					h5 Programming Languages
					p Python, Java, JavaScript, HTML/CSS, Embedded C, C++, et al.
					h5 Technologies
					p Web Frontend/Backend, Desktop, Mobile, Embedded, Internet of Things
					h5 Spoken Languages
					p German, English, French, Dutch
				
				section
					h2(id="memberships") Memberships

					p ACM SIGCHI, IXDA, GI Working Group Tangible Interactions

block js
	script.
		$('body').scrollspy({ target: '.sidenav-container', offset: 80 })
