extends ../layouts/default

mixin project(project)
	.col-sm-6.col-md-4(data-ks-editable=editable(user, { list: 'Project', id: project.id }))
		a.thumbnail(href='/works/project/' + project.slug)
			img(src=project._.keyImage.fill(400,240) alt=project.title).img-responsive
			//.caption
				h2= project.title
				p= 	project.innovation

block intro
	.container.index.intro
		.row
			.col-md-12.col-lg-9
				h1 I believe that technology can be humanized, <br/>
					| by combining design simplicity 
					| with an intimate knowledge of technologies, 
					| and respect for people.

block content
	.container.index
		.row
			.col-sm-6.col-md-4
				| I'm an interaction designer and technologist with more than 15 years of experience
				| in research and consulting.<br/>
				| As critical thinker and passionate tinkerer, I specialize in innovations.

			.col-sm-6.col-md-4
				p Recent topics of expertise include 
					a(href="/works/") Internet of Things
					| , 
					a(href="/works/") Smart Home
					| , 
					a(href="/works/") Open Source Hardware
					| , 
					a(href="/works/") Multi-Screen UX
					| , and 
					a(href="/works/") Service Design
					| .

			.col-sm-6.col-md-4.panel.panel-default
				a(href="/contact/")
					.panel-body
						p Need a UX consultant that bridges disciplines? 
							| An expert in prototyping digital experiences?
							br 
							| &rarr; Get in touch.

		.row
			each project in data.projects
				+project(project)

		//.row
			.col-md-12
				p: em.small Bare with me while I'm adding and updating content from my 
					a(href="http://archive.andreknoerig.de" target="_blank") archived portfolio.

					