extends ../layouts/default

block intro
	.container.index.intro
		h1 I believe that technology can be humanized, <br/>
			| by combining methods of design 
			| with an intimate knowledge of technologies 
			| and respect for people.

block content
	.container.index: .row
		.col-sm-6.col-md-4
			| I'm an interaction designer and technologist with more than 15 years of experience
			| in research and consulting.<br/>
			| As critical thinker and passionate tinkerer, I specialize in innovations.

		.col-sm-6.col-md-4
			p Recent topics include 
				a(href="/works/") Internet of Things
				| , 
				a(href="/works/") Smart Home
				| , 

		.col-sm-6.col-md-4.panel.panel-default
			a(href="/contact/")
				.panel-body
					p Need a UX consultant that bridges disciplines? 
						| An expert in prototyping digital experiences?
						br 
						| &rarr; Get in touch.
			