/* General */

@brand-primary: #333;

@body-bg: #fff;
@text-color: #888;
@headings-color: #000;
@link-color: #000;
@link-hover-color: #000;
@link-hover-decoration: none;

@font-family-sans-serif: 'CorbelRegular', 'Corbel', sans-serif;
@font-family-serif: 'ChaparralProRegular', serif;
@font-family-base: @font-family-serif;
@font-size-base: 12pt;
@headings-font-family: @font-family-sans-serif;

@border-radius-base: 0;
@border-radius-small: 0;
@border-radius-large: 0;

@thumbnail-padding: 0;
@thumbnail-caption-padding: 0;

body {
  padding-top: 90px;
}
h1, h2, h3, h4, h5, h6, nav, .filter, button {
  text-transform: uppercase;
  letter-spacing: 3px;
}
a {
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid transparent;
}

/* Navigation */
.navbar-default {

    background-color: #FFF;
    border: none;
    font-family: @headings-font-family;
    font-size: 11pt;
    opacity: 0.9;
    -webkit-box-shadow: none;  
    -moz-box-shadow: none;  
    box-shadow: none;
    
 
    .navbar .nav > li > a {
      color: #FFF;
      background: #DDD;
      text-shadow: none;
    }
 
    .navbar .nav > .active > a, 
    .navbar .nav > .active > a:hover, 
    .navbar .nav > .active > a:focus {
      background: #FFF;
      -webkit-box-shadow: none;  
      -moz-box-shadow: none;  
      box-shadow: none;
    }
 
    .navbar-brand {
      font-size: 11pt;
      border-bottom: 1px solid #DDD;
      //padding-right: 2px;
      //padding-left: 2px;
      //margin-left: 0px !important;
    }
}


 /* Intro */
.intro h1 {
  font-family: 'ChaparralProItalic', serif;
  font-size: 24pt;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 50px;
}


/* Content */

#body {

  h2 {
    font-size: 14pt;
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 2px;
  }

  h3 {
    font-family: 'ChaparralProRegular', serif;
    font-size: 14pt;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: none;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;

    img:hover {
      opacity: 0.7;
    }

    img {
      transition: all 0.3s ease 0s;
    }
  }


}


.nav-tabs {
  background: #FFF;
  border: none;
  margin-bottom: 1em;

  li {
    border: none;
    background: none;
  }

  li > a,
  li.active > a,
  li.active > a:hover {
    font-family: @headings-font-family;
    font-size: 11pt;
    text-transform: uppercase;
    color: #333333;
    border: none;
    background: none;
  }

  li.active {
    border-bottom: 1px solid;
  }
}


.thumbnail {
  border: none !important;

  p {
    font-family: 'ChaparralProItalic', serif;
    font-size: 13pt;
  }
}


.index {

  font-size: 16pt;
  
  h1 {
    font-size: 32pt;
  }

  .panel {
    background: #000;
    opacity: 0.8;
  }

  .panel-body {
    color: #fff;
  }

}

/* footer */
#footer {
  color: #bbb;
  border-top: 1px solid #CCC;
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
