/* General */

@brand-primary: #333;

@body-bg: #fff;
@text-color: #666;
@headings-color: #000;
@link-color: #000;
@link-hover-color: #000;
@link-hover-decoration: none;

@font-family-sans-serif: 'CorbelRegular', 'Corbel', sans-serif;
@font-family-serif: 'ChaparralProRegular', serif;
@font-family-base: @font-family-serif;
@font-size-base: 12pt;
@headings-font-family: @font-family-sans-serif;
@icon-font-path: none;

@border-radius-base: 0;
@border-radius-small: 0;
@border-radius-large: 0;

@thumbnail-padding: 0;
@thumbnail-caption-padding: 0;

@input-color-placeholder: #ccc;

* {
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

body {
  padding-top: 80px;
}
h1, nav, .filter, button {
  text-transform: uppercase;
  letter-spacing: 3px;
}
a {
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #eee;
}

/* Navigation */
.navbar-default {

    background-color: #fff;
    border: none;
    font-family: @headings-font-family;
    font-size: 11pt;
    opacity: 0.9;
    -webkit-box-shadow: none;  
    -moz-box-shadow: none;  
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    
    .navbar-brand {
      font-size: 11pt;
      border-bottom: none;
      //padding-right: 2px;
      //padding-left: 2px;
      //margin-left: 0px !important;
    }
 
    .navbar-nav > li > a {
      border-bottom: 1px solid transparent;
    }

    .navbar-nav > li > a:hover {
      color: @link-color;
      border-bottom: 1px solid #333;
    }
 
    .navbar-nav > .active > a, 
    .navbar-nav > .active > a:hover, 
    .navbar-nav > .active > a:focus {
      color: @link-color;
    }


  @media (max-width: @screen-sm) {
    .navbar-toggle {
      border: none;
      float: left;
    }
    .navbar-brand {
      text-align: center;
      width: 85%;
    }

  }
}


 /* Intro */
.intro h1 {
  font-family: 'ChaparralProItalic', serif;
  font-size: 24pt;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 80%;
}

@media (max-width: @screen-sm) {
  .intro h1 {
    padding-top: 0;
    width: 100%;
  }  
}


/* Content */

#body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 0.8s; /* Firefox < 16 */
    -ms-animation: fadein 0.8s; /* Internet Explorer */
     -o-animation: fadein 0.8s; /* Opera < 12.1 */
        animation: fadein 0.8s;

  h1 {
    margin-bottom: 12pt;
  }

  article {

    h2 {
      border-left: 2px solid #000;
      padding-left: 20px;
      margin-left: -20px;
    }

    h4, h5, h6 {
      margin-top: 15pt;
    }

    p {
      margin-bottom: 5pt;
    }

  }

  a {

    img {
      transition: all 0.3s ease 0s;
      //opacity: 1;
      //filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;

    img {
      //opacity: 0.7;
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
    }

  }

  hr {
    border: none;
    border-left: 15px solid #000;
    margin-left: -20px;
    padding: 1px;
  }

  form {
    label {
      font-family: @headings-font-family;
      color: #000;
    }

    button {
      font-family: @headings-font-family;
    }
  }

  .affix-top, .affix {
    position: static;
  }

  aside {
    font-size: 14pt;
    text-align: right;
    padding-right: 25px;

    .sub {

    }

    .meta {

    }

    .tags {
      font-size: 11pt;
      a {
        font-style: italic;
      }
    }

    .link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media (min-width: @screen-xs) {
    aside {
      text-align: left;
    }
  }
  @media (min-width: @screen-sm) {
    aside {
      text-align: right;
    }
    aside.affix {
      top: 70px;
      position: fixed;
      width: 160px;
    }
  }
  @media (min-width: @screen-md) {
    aside.affix {
      width: 210px;
    }
  }
  @media (min-width: @screen-lg) {
    aside.affix {
      width: 260px;
    }
  }

  .img-key {
    margin-bottom: 1em;
  }

  .nav {
    background: #FFF;
    border: none;

    li a {
      font-family: @headings-font-family;
      text-transform: uppercase;
      font-size: 11pt;
      letter-spacing: 1px;
      color: #333333;
    }
  }

  .nav-tabs {
    margin-bottom: 1em;

    li {
      border: none;
      background: none;
    }

    li > a {
      border: none;
      border-bottom: 1px solid transparent;
      background: none;
    }

    li.active > a,
    li.active > a:hover {
      border: none;
      background: none;
    }

    li > a:hover {
      border-bottom: 1px solid #ddd;
    }

    li.active {
      border-bottom: 1px solid;
    }
  }

  @media (min-width: @screen-sm) {
    .sidenav.affix {
        top: 70px;
        position: fixed;
    }
  }
  .sidenav {

    li {
      border: none;
      background: none;
    }

    li > a {
      padding: 5px 15px 5px 0;
      border: none;
      background: none;
      //border-right: 2px solid transparent;
      color: @text-color;
    }

    li.active > a,
    li.active > a:hover {
      border: none;
      background: none;
      color: @link-color;
    }

    li > a:hover {
      //border-right: 2px solid #ddd;
      color: @link-color;
    }

    li.active a {
      //border-right: 2px solid;
      color: @link-color;
    }

  }

  .activities {
    .item {
      width: 175px;
      height: 230px;
    }
    .item.x2 {
      width: 175*2+15px;
      height: 460px;
    }

    @media (max-width: @screen-lg) {
      .item {
        width: 175px;
      }
      .item.x2 {
        width: 175*2+15px;
      }
    }
    @media (max-width: @screen-md) {
      .item {
        width: 175px;
      }
      .item.x2 {
        width: 175*2+15px;
      }
    }
    @media (max-width: @screen-sm) {
      .item {
        width: 45%;
      }
      .item.x2 {
        width: 90%;
      }
    }
  }

  .thumbnail {
    border: none !important;

    h2 {
      font-size: 16pt;
      letter-spacing: 0.5px;
      line-height: 20px;
      padding-top: 2px;
    }

    h4 {
      //height: 45px;
      margin-top: 5pt;
      margin-bottom: 5pt;
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .caption {
      font-family: 'ChaparralProItalic', serif;
      font-size: 13pt;
      line-height: normal;

      .description {
        //height: 42px;
        //white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5pt;
      }

      .date {
        color: #000;
      }
    }
  }

}


/* homepage */
.index {

  font-size: 16pt;
  
  h1 {
    font-size: 32pt;
  }

  .panel {
    background: #000;
    opacity: 0.8;
  }

  .panel-body {
    color: #fff;
  }

}

/* footer */
#footer {
  color: #999;
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;


  a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
  }
}


/* animation parameters */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
